extends base

block content
    div.watch_container
        div#videoContainer(data-id=video._id)
            if isHeroku
                video(src=video.fileUrl)
            else
                video(src="/" + video.fileUrl)
            div#videoControls.videoControls
                input(type="range" step=1 value=0 min=0)#timeline.videoControls__timeline.cursor__pointer
                div.videoControls__Btns
                    div.videoControls__Btns--box
                        div.videoControls__play.cursor__pointer
                            span#play.videoControls__playBtn
                                i.fas.fa-play 
                        div.videoControls__volume.cursor__pointer
                            span#mute 
                                i.fas.fa-volume-up
                            input(type="range" step=0.1 value=0.5 min=0 max=1)#volume.cursor__pointer
                        div.videoControls__time
                            span#currenTime 00:00
                            span  / 
                            span#totalTime 00:00
                    div.videoControls__Btns--fullScreen.cursor__pointer
                        span#fullScreen
                            i.fas.fa-expand
        div.video__data
            div.video__info
                ul.video__info-hashtags
                    each hashtag in video.hashtags
                        li=hashtag
                h3.video__title=video.title
                div.video__info-sub
                    span 조회수 #{video.meta.views} 회 • 
                    span=video.createdAt
            div.video__edit
                if String(video.owner._id) === String(loggedInUser._id)
                    a(href=`${video.id}/edit`) Edit Video &rarr;
        div.video__summary
            div.video__uploader
                a(href=`/users/${video.owner._id}`).video__uploader-avatar
                    if video.owner.avatarUrl === "" || !video.owner.avatarUrl
                        span 😀
                    else if isHeroku || video.owner.avatarUrl.includes("github")
                        img(src=video.owner.avatarUrl)
                    else 
                        img(src="/" + video.owner.avatarUrl)
                a(href=`/users/${video.owner._id}`).video__uploader-name
                    span=video.owner.name
            p.video__summary--description #{video.description}
        if loggedIn
            div.video__add-comments
                form.video__comment-form#commentForm
                    textarea(cols="30" rows="1" placeholder="Write a nice comment..." maxlength=200)#textarea
                    input(type="submit" value="Comment")
        div.video__comments
            ul 
                each comment in video.comments.reverse()
                    li.video__comment(data-id=comment._id)
                        div.video__comment-ownerAndText
                            a(href=`/users/${comment.owner._id}`)
                                if comment.owner.avatarUrl === "" || !comment.owner.avatarUrl
                                    span 😀
                                else if isHeroku || comment.owner.avatarUrl.includes("github")
                                    img(src=comment.owner.avatarUrl)
                                else
                                    img(src="/" + comment.owner.avatarUrl)
                            span   #{comment.text}
                        if String(comment.owner._id) === String(loggedInUser._id)
                            span.video__comment-deleteBtn
                                i.fas.fa-trash
block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 